.dashboard-container {
  padding: 0 8px 0 8px;
}

.dashboard {
  padding: 0 8px;
}

.dashboard > h1, .dashboard > h2 {
  font-size: 1.75rem;
  margin-bottom: 28px;
}

.stats-container {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 14px;
}

.rc-tasks-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 14px;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

