.dashboard-container {
  padding: 0px 8px 0px 8px;
}

.dashboard {
  padding: 0px 8px;
}

.dashboard > h1 {
  font-size: 1.75rem;
  margin-bottom: 28px;
}
.dashboard > h2 {
  font-size: 1.75rem;
  margin-bottom: 28px;
}

.stats-container {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 14px;
}

.rc-tasks-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 14px;
}

.rc-tasks {
  display: flex;
  flex-direction: row;
  gap: 14px;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
}

.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}