.stat-card {
    flex: 1;
    width: fit-content;
    height: fit-content;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
    border-radius: 8px;
    font-size: 1.0625rem;
}

.stat-value-container{
    height: 25px;
    min-width: 25px;
    padding: 0 4px;
    background-color: var(--bg-secondary);
    border:  solid 1px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent);
}

