.app-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 col css grid */
  height: 100vh;
}

/* grid system control ---12 col */

.grid-sidenav {
  grid-column: span 2;
  height: 100vh;
}

.grid-center {
  grid-column: span 8;
  height: 100vh;
  padding: 14px 14px 0 14px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
}

.grid-right {
  grid-column: span 2;
  height: 100vh;
  padding: 14px 14px 0 0;
}
