@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* color palette */

  /* backgrounds */
  --bg-primary: #0e0e10; /* app bg */
  --bg-secondary: #1a1a1a; /* sidenav, all kinds of cards, etc */
  --bg-tertiary: #242424; /* inputs, hover states */

  /*  text */
  --text-primary: #f0f0f0; /* headings, important stuff */
  --text-secondary: #a0a0a0; /* descriptions, labels */
  --text-muted: #606060; /* placeholders, disabled */

  /* accent */
  --accent: #778beb; /* umbrella purple */
  --accent-hover: #6c5fe6; /* umbrella purple */

  /* priority */
  --priority-high: #f87171; /* red */
  --priority-medium: #fbbf24; /* amber */
  --priority-low: #34d399; /* green */

  /* border */
  --border:         #2a2a2a; /* for dividers, outlines, lines around cards */

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: var(--text-primary);
  line-height: 1.5;
  background-color: var(--bg-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

html, body {
  height: 100%;
}

/* glass background in items */
.glass {
  border: solid 1px rgba(255, 255, 255, 0.08);
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* for safari */
}
